/* ==========================================================================
   Colors
   ========================================================================== */

// text
$dark-text: rgba(0, 0, 0, 0.8);
$light-text: white;
$lighter-text: rgba(255, 255, 255, 0.8);
$dark-text-highlight: yellow;
$light-text-highlight: rgba(255, 255, 255, 0.25);

// background
$base-bg: rgba(0, 0, 0, 0.05);
$home-bg: $base-bg;

// interface
$dark-shadow: rgba(0, 0, 0, 0.50);
